<!DOCTYPE html>
<!-- -*- coding:utf-8 -*- -->
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>AegisCode Tools</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.7.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />
    <script src="build/js/aegis.js"></script>
  </head>
  <body ng-app>
    <h1>AegisCode支援ツール</h1>
    <p>ソーシャルゲーム閃光神姫イージスコードの数字を当てる支援をするツールです。現在候補を絞る機能を実装しています</p>
    <div ng-controller="AegisCtrl">
      <h3>入力</h3>
      <fieldset>
        <label>除外<input type="text" maxlength="10" size="5" ng-model="initExc" ng-change="change()" /></label>
        <div ng-repeat="trial in trials">
          <form class="form-inline">
            <div class="form-group">
              <label>Input</label>
              <input type="text" maxlength="10" size="10" ng-model="trial.input" ng-change="change()" />
            </div>
            <div class="form-group">
              <label>Hit</label>
              <input type="number" maxlength="1" size="3" ng-model="trial.hit" ng-change="change()" />
            </div>
            <div class="form-group">
              <label>Blow</label>
              <input type="number" maxlength="1" size="3" ng-model="trial.blow" ng-change="change()" />
            </div>
          </form>
        </div>
      </fieldset>
      <h3>候補<small>{{ count }}</small></h3>
      <p>{{ view }}</p>
    </div>
  </body>
</html>
